body{
    background-color: rgb(210, 198, 198);
}

.to_center{
    display: block;
    text-align: center;
}

.url_button{
    font-size: 150%;
    color: rgb(202, 179, 216);
    background-color: rgb(92, 82, 114);
    border-style: inset;
    border-width: 2px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 15px 25px;
    padding: 15px 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: 0.4s ease-in-out;
}


/* сделать так чтобы кнопка была всегда снизу справа */
/* пример  https://html5book.ru/styling-hyperlinks/#part6*/


.Git_icon{ 
    text-align: end;
}